@font-face {
  font-family: "MinecraftiaRegular";
  src: url("fonts/Minecraftia-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mojang";
  src: url("fonts/mojang.otf") format("truetype");
}

body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

/* .overlay {
  background: url("textures/panorama_overlay.png") no-repeat center;
  background-size: cover;
  
} */

.MainLOGO{
  background-image: url("./Assets/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: clamp(10vh, 20vh, 50vh);
  width: clamp(600px, 50vw, 730px);
}

.splashtext {
  font-family: "MinecraftiaRegular", sans-serif;
  color: #ffcc00;
  line-height: 1.2;
  font-size: clamp(2vh, 2vw, 3vh);
  text-shadow: 2px 2px 4px #000000;
  transform: rotate(-20deg);
  max-width: 80%;
  min-width: 200px;
  margin: 0 auto;
  position: absolute;
  bottom: 0px;
  right: -10%;
  animation: splashAnimation 1s infinite;
}

@keyframes splashAnimation {
  0%,
  100% {
    transform: scale(1) rotate(-15deg);
  }
  50% {
    transform: scale(1.1) rotate(-15deg);
  }
}

.mc-btn {
  display: grid;
  grid-template-columns: 18px auto 18px;
  grid-template-rows: 18px auto 18px;
  width: 300px;          /* any width you want */
  height: 50px;          /* any height you want */
  image-rendering: pixelated;
}

.mc-btn {
  background-image: url(./Assets/button.png);
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  width: 200px;
  height: 20px;
  font-family: "MinecraftiaRegular", sans-serif;
  transform: scale(2.3);
  position: relative;
}

.mc-btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3px;
  font-size: 8px;
  color: white;
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
}

.mc-btn:hover {
  background-image: url(./Assets/button_highlighted.png);
}

.mc-btn-sm {
  background-image: url(./Assets/button_sm.png);
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  width: 200px;
  height: 20px;
  font-family: "MinecraftiaRegular", sans-serif;
  transform: scale(2.3);
  position: relative;
}

.mc-btn-sm p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3px;
  font-size: 6px;
  color: white;
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
}

.mc-btn-md {
  background-image: url(./Assets/button_md.png);
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: pixelated;
  width: 200px;
  height: 20px;
  font-family: "MinecraftiaRegular", sans-serif;
  transform: scale(2.3);
  position: relative;
}

.mc-btn-md p,
.mc-btn-md .mc-btn-md-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 3px;
  font-size: 7px;
  color: white;
  text-shadow: 1px 1px 2px black;
  pointer-events: none;
}

.mc-btn-md:hover {
  background-image: url(./Assets/button_highlighted_md.png);
}

.mc-btn-sm:hover {
  background-image: url(./Assets/button_highlighted_sm.png);
}