@font-face {
  font-family: "MinecraftiaRegular";
  src: url("fonts/Minecraftia-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mojang";
  src: url("fonts/mojang.otf") format("truetype");
}

body {
  margin: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

.overlay {
  background: url("textures/panorama_overlay.png") no-repeat center;
  background-size: cover;
  pointer-events: none;
}

.mlogo {
  background: url("Assets/Logo.png") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 140px;
  display: inline-block;
  pointer-events: none;
  margin: 50px 0 0 0;
  padding: 0;
}

.splash {
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(-20deg);
  width: auto;
  max-width: 80%;
  text-align: center;
  pointer-events: none;
  animation: splashAnimation 1.5s infinite;
}
@keyframes splashAnimation {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(-20deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(-20deg) scale(1.1);
  }
}

.loading-overlay {
  background-color: rgba(239, 46, 59, 1);
  color: white;
  font-family: "Mojang", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}

/* loading fadeout effect */
.loading-overlay.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
  pointer-events: none;
}

.MC-Btn {
  background: url("Assets/button.png") no-repeat center;
  background-size: contain;
  width: 650px;
  height: 50px;
  display: inline-block;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  filter: brightness(125%);
}

.MC-Btn-text {
  font-family: "MinecraftiaRegular", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1rem;
  line-height: 50px;
  display: block;
  text-align: center;
  user-select: none;
  text-decoration: none;
  padding-top: 8px;
}

.MC-Btn:hover {
  background: url("Assets/button_highlighted.png") no-repeat center;
  background-size: contain;
  width: 650px;
  height: 50px;
  display: inline-block;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.MC-Btn-sm {
  background: url("Assets/button_sm.png") no-repeat center;
  background-size: contain;
  width: 55px;
  min-width: 55px;
  height: 50px;
  display: inline-block;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  filter: brightness(125%);
}

.MC-Btn-md {
  background: url("Assets/button_md.png") no-repeat center;
    background-size: contain;
  width: 215px;
  min-width: 215px;
  height: 50px;
  display: inline-block;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
  filter: brightness(125%);
}

.MC-Btn-sm:hover {
  background: url("Assets/button_highlighted_sm.png") no-repeat center;
  background-size: contain;
  width: 55px;
  min-width: 55px;
  height: 50px;
  display: inline-block;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.MC-Btn-md:hover {
  background: url("Assets/button_highlighted_md.png") no-repeat center;
    background-size: contain;
  width: 215px;
  min-width: 215px;
  height: 50px;
  display: inline-block;
  pointer-events: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.MC-Btn-text-sm {
  font-family: "MinecraftiaRegular", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1rem;
  line-height: 50px;
  display: block;
  text-align: center;
  user-select: none;
  text-decoration: none;
  padding-top: 8px;
}

.MC-Btn-text-md {
  font-family: "MinecraftiaRegular", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 1rem;
  line-height: 50px;
  display: block;
  text-align: center;
  user-select: none;
  text-decoration: none;
  padding-top: 8px;
}

.Icon-GitHub {
  background: url("Assets/github-ico.png") no-repeat center;
  background-size: contain;
  width: 38px;
  height: 38px;
  display: block;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

.Icon-Resume {
  background: url("Assets/draft_report.png") no-repeat center;
  background-size: contain;
  width: 34px;
  height: 34px;
  display: block;
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
}